Let's import sqlalchemy, pandas and numpy

In [1]:
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine 
import pandas as pd
from pandas.io import sql
import datetime as dt
import numpy as np

In [2]:
print "numpy: ", np.__version__
print "pandas: ", pd.__version__
print "sqlalchamy: ", sqlalchemy.__version__
print "psycopg2: ", psycopg2.__version__

numpy:  1.9.2
pandas:  0.15.2
sqlalchamy:  0.9.9
psycopg2:  2.6 (dt dec pq3 ext lo64)

In [3]:
# connection to postgresql database
#conn = psycopg2.connect("dbname=test user=postgres")
engine = create_engine('postgresql://postgres:password@localhost:5433/cdrstats-billing')

In [4]:
result = engine.execute("select * from voip_switch")
for row in result:
    print "voip_switch:", row['name'], row['ipaddress']

voip_switch: localhost 127.0.0.1
voip_switch: superhost 128.128.0.0

In [27]:
df = sql.read_sql("""SELECT
    dateday,
    switch_id,
    coalesce(nbcalls,0) AS nbcalls,
    coalesce(duration,0) AS duration,
    coalesce(billsec,0) AS billsec,
    coalesce(buy_cost,0) AS buy_cost,
    coalesce(sell_cost,0) AS sell_cost
FROM
    generate_series(
                    date_trunc('hour', current_timestamp - interval '48' hour),
                    date_trunc('hour', current_timestamp + interval '2' hour),
                    '1 hour')
    as dateday
LEFT OUTER JOIN (
    SELECT
        date_trunc('hour', starting_date) as dayhour,
        switch_id as switch_id,
        SUM(nbcalls) as nbcalls,
        SUM(duration) as duration,
        SUM(billsec) as billsec,
        SUM(buy_cost) as buy_cost,
        SUM(sell_cost) as sell_cost
    FROM matv_voip_cdr_aggr_hour
    WHERE
        starting_date > date_trunc('hour', current_timestamp - interval '48' hour) and
        starting_date <= date_trunc('hour', current_timestamp + interval '2' hour)
        
    GROUP BY dayhour, switch_id
    ) results
ON (dateday = results.dayhour)""", engine)
# index_col=["dateday", "switch_id"]
df

,dateday,switch_id,nbcalls,duration,billsec,buy_cost,sell_cost
0,2015-03-20 01:00:00+01:00,NaN,0,0,0,0.00000,0.00000
1,2015-03-20 02:00:00+01:00,1,436,32703,25802,212.16197,214.33608
2,2015-03-20 02:00:00+01:00,2,384,28522,23526,188.95195,201.38374
3,2015-03-20 03:00:00+01:00,2,479,37139,27674,242.08165,242.97785
4,2015-03-20 03:00:00+01:00,1,417,30739,26024,215.39431,211.51521
5,2015-03-20 04:00:00+01:00,2,419,31404,25329,214.60660,203.01498
6,2015-03-20 04:00:00+01:00,1,421,30737,25564,211.70976,213.72790
7,2015-03-20 05:00:00+01:00,2,389,30503,22894,183.21675,211.84865
8,2015-03-20 05:00:00+01:00,1,473,35908,29243,227.14990,238.11215
9,2015-03-20 06:00:00+01:00,1,469,34833,28658,239.52816,238.84173
10,2015-03-20 06:00:00+01:00,2,431,31374,25795,217.82267,224.30048
11,2015-03-20 07:00:00+01:00,1,456,35228,28458,238.97832,233.82632
12,2015-03-20 07:00:00+01:00,2,430,31650,26423,212.37082,218.03478
13,2015-03-20 08:00:00+01:00,1,424,31219,24721,216.25996,205.39587
14,2015-03-20 08:00:00+01:00,2,449,34239,27372,224.11738,231.53835
15,2015-03-20 09:00:00+01:00,2,456,34250,27984,228.14923,222.74083
16,2015-03-20 09:00:00+01:00,1,423,31532,24858,209.81060,208.58009
17,2015-03-20 10:00:00+01:00,1,424,32859,25420,214.15187,206.85611
18,2015-03-20 10:00:00+01:00,2,435,33255,26607,214.97518,210.14606
19,2015-03-20 11:00:00+01:00,2,410,31588,24212,199.28288,206.50986
20,2015-03-20 11:00:00+01:00,1,425,30719,26775,193.57930,207.29097
21,2015-03-20 12:00:00+01:00,1,435,32610,26473,225.45656,224.20190
22,2015-03-20 12:00:00+01:00,2,454,34524,25833,221.86527,240.34223
23,2015-03-20 13:00:00+01:00,2,387,29205,23341,190.27605,197.96472
24,2015-03-20 13:00:00+01:00,1,361,25958,20978,184.62107,181.65674
25,2015-03-20 14:00:00+01:00,NaN,0,0,0,0.00000,0.00000
26,2015-03-20 15:00:00+01:00,NaN,0,0,0,0.00000,0.00000
27,2015-03-20 16:00:00+01:00,NaN,0,0,0,0.00000,0.00000
28,2015-03-20 17:00:00+01:00,NaN,0,0,0,0.00000,0.00000
29,2015-03-20 18:00:00+01:00,1,18758,1418997,1134649,9413.17666,9382.42579
...,...,...,...,...,...,...,...
33,2015-03-20 22:00:00+01:00,NaN,0,0,0,0.00000,0.00000
34,2015-03-20 23:00:00+01:00,NaN,0,0,0,0.00000,0.00000
35,2015-03-21 00:00:00+01:00,NaN,0,0,0,0.00000,0.00000
36,2015-03-21 01:00:00+01:00,NaN,0,0,0,0.00000,0.00000
37,2015-03-21 02:00:00+01:00,NaN,0,0,0,0.00000,0.00000
38,2015-03-21 03:00:00+01:00,NaN,0,0,0,0.00000,0.00000
39,2015-03-21 04:00:00+01:00,NaN,0,0,0,0.00000,0.00000
40,2015-03-21 05:00:00+01:00,NaN,0,0,0,0.00000,0.00000
41,2015-03-21 06:00:00+01:00,NaN,0,0,0,0.00000,0.00000
42,2015-03-21 07:00:00+01:00,NaN,0,0,0,0.00000,0.00000
43,2015-03-21 08:00:00+01:00,NaN,0,0,0,0.00000,0.00000
44,2015-03-21 09:00:00+01:00,NaN,0,0,0,0.00000,0.00000
45,2015-03-21 10:00:00+01:00,NaN,0,0,0,0.00000,0.00000
46,2015-03-21 11:00:00+01:00,NaN,0,0,0,0.00000,0.00000
47,2015-03-21 12:00:00+01:00,NaN,0,0,0,0.00000,0.00000
48,2015-03-21 13:00:00+01:00,NaN,0,0,0,0.00000,0.00000
49,2015-03-21 14:00:00+01:00,NaN,0,0,0,0.00000,0.00000
50,2015-03-21 15:00:00+01:00,NaN,0,0,0,0.00000,0.00000
51,2015-03-21 16:00:00+01:00,NaN,0,0,0,0.00000,0.00000
52,2015-03-21 17:00:00+01:00,NaN,0,0,0,0.00000,0.00000
53,2015-03-21 18:00:00+01:00,1,18691,1411681,1129709,9299.08105,9256.68949
54,2015-03-21 19:00:00+01:00,NaN,0,0,0,0.00000,0.00000
55,2015-03-21 20:00:00+01:00,NaN,0,0,0,0.00000,0.00000
56,2015-03-21 21:00:00+01:00,NaN,0,0,0,0.00000,0.00000
57,2015-03-21 22:00:00+01:00,NaN,0,0,0,0.00000,0.00000
58,2015-03-21 23:00:00+01:00,NaN,0,0,0,0.00000,0.00000
59,2015-03-22 00:00:00+01:00,NaN,0,0,0,0.00000,0.00000
60,2015-03-22 01:00:00+01:00,NaN,0,0,0,0.00000,0.00000
61,2015-03-22 02:00:00+01:00,NaN,0,0,0,0.00000,0.00000
62,2015-03-22 03:00:00+01:00,NaN,0,0,0,0.00000,0.00000

In [28]:
df.dateday = pd.to_datetime(df.dateday)
df.dateday

0     2015-03-20 01:00:00+01:00
1     2015-03-20 02:00:00+01:00
2     2015-03-20 02:00:00+01:00
3     2015-03-20 03:00:00+01:00
4     2015-03-20 03:00:00+01:00
5     2015-03-20 04:00:00+01:00
6     2015-03-20 04:00:00+01:00
7     2015-03-20 05:00:00+01:00
8     2015-03-20 05:00:00+01:00
9     2015-03-20 06:00:00+01:00
10    2015-03-20 06:00:00+01:00
11    2015-03-20 07:00:00+01:00
12    2015-03-20 07:00:00+01:00
13    2015-03-20 08:00:00+01:00
14    2015-03-20 08:00:00+01:00
...
48    2015-03-21 13:00:00+01:00
49    2015-03-21 14:00:00+01:00
50    2015-03-21 15:00:00+01:00
51    2015-03-21 16:00:00+01:00
52    2015-03-21 17:00:00+01:00
53    2015-03-21 18:00:00+01:00
54    2015-03-21 19:00:00+01:00
55    2015-03-21 20:00:00+01:00
56    2015-03-21 21:00:00+01:00
57    2015-03-21 22:00:00+01:00
58    2015-03-21 23:00:00+01:00
59    2015-03-22 00:00:00+01:00
60    2015-03-22 01:00:00+01:00
61    2015-03-22 02:00:00+01:00
62    2015-03-22 03:00:00+01:00
Name: dateday, Length: 63, dtype: object

In [30]:
df.set_index('dateday', inplace=True)

In [36]:
df.index[0], df.index[1]

(Timestamp('2015-03-20 01:00:00+0100', tz='psycopg2.tz.FixedOffsetTimezone(offset=60, name=None)'),
 Timestamp('2015-03-20 02:00:00+0100', tz='psycopg2.tz.FixedOffsetTimezone(offset=60, name=None)'))

In [37]:
df = df.reindex(pd.date_range(min(df.index), max(df.index)), fill_value=0)

ValueError: cannot reindex from a duplicate axis

In [6]:
df['nbcalls'].iloc[4]

384.0

In [7]:
df.index.names

FrozenList([None])

In [8]:
table = pd.tools.pivot.pivot_table(df, values=['nbcalls', 'duration', 'billsec', 'buy_cost', 'sell_cost'], index=['dateday'],
        columns=['dateday', 'switch_id'], fill_value=0)
table

KeyError: 'Level dateday not found'

### not using index_col in read_sql

In [38]:
df = sql.read_sql("""SELECT
    dateday,
    switch_id,
    coalesce(nbcalls,0) AS nbcalls,
    coalesce(duration,0) AS duration,
    coalesce(billsec,0) AS billsec,
    coalesce(buy_cost,0) AS buy_cost,
    coalesce(sell_cost,0) AS sell_cost
FROM
    generate_series(
                    date_trunc('hour', current_timestamp - interval '50' hour),
                    date_trunc('hour', current_timestamp - interval '30' hour),
                    '1 hour')
    as dateday
LEFT OUTER JOIN (
    SELECT
        date_trunc('hour', starting_date) as dayhour,
        switch_id as switch_id,
        SUM(nbcalls) as nbcalls,
        SUM(duration) as duration,
        SUM(billsec) as billsec,
        SUM(buy_cost) as buy_cost,
        SUM(sell_cost) as sell_cost
    FROM matv_voip_cdr_aggr_hour
    WHERE
        starting_date > date_trunc('hour', current_timestamp - interval '50' hour) and
        starting_date <= date_trunc('hour', current_timestamp - interval '30' hour)
        
    GROUP BY dayhour, switch_id
    ) results
ON (dateday = results.dayhour)""", engine)
print df
totals = df.groupby('switch_id').size()
print totals

                      dateday  switch_id  nbcalls  duration  billsec  \
0   2015-03-19 23:00:00+01:00        NaN        0         0        0
1   2015-03-20 00:00:00+01:00          2      407     31177    24849
2   2015-03-20 00:00:00+01:00          1      435     31353    25677
3   2015-03-20 01:00:00+01:00          1      446     33125    29582
4   2015-03-20 01:00:00+01:00          2      427     33266    26218
5   2015-03-20 02:00:00+01:00          1      436     32703    25802
6   2015-03-20 02:00:00+01:00          2      384     28522    23526
7   2015-03-20 03:00:00+01:00          2      479     37139    27674
8   2015-03-20 03:00:00+01:00          1      417     30739    26024
9   2015-03-20 04:00:00+01:00          2      419     31404    25329
10  2015-03-20 04:00:00+01:00          1      421     30737    25564
11  2015-03-20 05:00:00+01:00          2      389     30503    22894
12  2015-03-20 05:00:00+01:00          1      473     35908    29243
13  2015-03-20 06:00:00+01:00          1      469     34833    28658
14  2015-03-20 06:00:00+01:00          2      431     31374    25795
15  2015-03-20 07:00:00+01:00          1      456     35228    28458
16  2015-03-20 07:00:00+01:00          2      430     31650    26423
17  2015-03-20 08:00:00+01:00          1      424     31219    24721
18  2015-03-20 08:00:00+01:00          2      449     34239    27372
19  2015-03-20 09:00:00+01:00          2      456     34250    27984
20  2015-03-20 09:00:00+01:00          1      423     31532    24858
21  2015-03-20 10:00:00+01:00          1      424     32859    25420
22  2015-03-20 10:00:00+01:00          2      435     33255    26607
23  2015-03-20 11:00:00+01:00          2      410     31588    24212
24  2015-03-20 11:00:00+01:00          1      425     30719    26775
25  2015-03-20 12:00:00+01:00          1      435     32610    26473
26  2015-03-20 12:00:00+01:00          2      454     34524    25833
27  2015-03-20 13:00:00+01:00          2      387     29205    23341
28  2015-03-20 13:00:00+01:00          1      361     25958    20978
29  2015-03-20 14:00:00+01:00        NaN        0         0        0
30  2015-03-20 15:00:00+01:00        NaN        0         0        0
31  2015-03-20 16:00:00+01:00        NaN        0         0        0
32  2015-03-20 17:00:00+01:00        NaN        0         0        0
33  2015-03-20 18:00:00+01:00          1    18758   1418997  1134649
34  2015-03-20 19:00:00+01:00        NaN        0         0        0

      buy_cost   sell_cost
0      0.00000     0.00000
1    196.57151   198.07861
2    214.41776   225.08726
3    229.00651   222.74768
4    217.72912   212.55049
5    212.16197   214.33608
6    188.95195   201.38374
7    242.08165   242.97785
8    215.39431   211.51521
9    214.60660   203.01498
10   211.70976   213.72790
11   183.21675   211.84865
12   227.14990   238.11215
13   239.52816   238.84173
14   217.82267   224.30048
15   238.97832   233.82632
16   212.37082   218.03478
17   216.25996   205.39587
18   224.11738   231.53835
19   228.14923   222.74083
20   209.81060   208.58009
21   214.15187   206.85611
22   214.97518   210.14606
23   199.28288   206.50986
24   193.57930   207.29097
25   225.45656   224.20190
26   221.86527   240.34223
27   190.27605   197.96472
28   184.62107   181.65674
29     0.00000     0.00000
30     0.00000     0.00000
31     0.00000     0.00000
32     0.00000     0.00000
33  9413.17666  9382.42579
34     0.00000     0.00000
switch_id
1            15
2            14
dtype: int64

In [39]:
df

,dateday,switch_id,nbcalls,duration,billsec,buy_cost,sell_cost
0,2015-03-19 23:00:00+01:00,NaN,0,0,0,0.00000,0.00000
1,2015-03-20 00:00:00+01:00,2,407,31177,24849,196.57151,198.07861
2,2015-03-20 00:00:00+01:00,1,435,31353,25677,214.41776,225.08726
3,2015-03-20 01:00:00+01:00,1,446,33125,29582,229.00651,222.74768
4,2015-03-20 01:00:00+01:00,2,427,33266,26218,217.72912,212.55049
5,2015-03-20 02:00:00+01:00,1,436,32703,25802,212.16197,214.33608
6,2015-03-20 02:00:00+01:00,2,384,28522,23526,188.95195,201.38374
7,2015-03-20 03:00:00+01:00,2,479,37139,27674,242.08165,242.97785
8,2015-03-20 03:00:00+01:00,1,417,30739,26024,215.39431,211.51521
9,2015-03-20 04:00:00+01:00,2,419,31404,25329,214.60660,203.01498
10,2015-03-20 04:00:00+01:00,1,421,30737,25564,211.70976,213.72790
11,2015-03-20 05:00:00+01:00,2,389,30503,22894,183.21675,211.84865
12,2015-03-20 05:00:00+01:00,1,473,35908,29243,227.14990,238.11215
13,2015-03-20 06:00:00+01:00,1,469,34833,28658,239.52816,238.84173
14,2015-03-20 06:00:00+01:00,2,431,31374,25795,217.82267,224.30048
15,2015-03-20 07:00:00+01:00,1,456,35228,28458,238.97832,233.82632
16,2015-03-20 07:00:00+01:00,2,430,31650,26423,212.37082,218.03478
17,2015-03-20 08:00:00+01:00,1,424,31219,24721,216.25996,205.39587
18,2015-03-20 08:00:00+01:00,2,449,34239,27372,224.11738,231.53835
19,2015-03-20 09:00:00+01:00,2,456,34250,27984,228.14923,222.74083
20,2015-03-20 09:00:00+01:00,1,423,31532,24858,209.81060,208.58009
21,2015-03-20 10:00:00+01:00,1,424,32859,25420,214.15187,206.85611
22,2015-03-20 10:00:00+01:00,2,435,33255,26607,214.97518,210.14606
23,2015-03-20 11:00:00+01:00,2,410,31588,24212,199.28288,206.50986
24,2015-03-20 11:00:00+01:00,1,425,30719,26775,193.57930,207.29097
25,2015-03-20 12:00:00+01:00,1,435,32610,26473,225.45656,224.20190
26,2015-03-20 12:00:00+01:00,2,454,34524,25833,221.86527,240.34223
27,2015-03-20 13:00:00+01:00,2,387,29205,23341,190.27605,197.96472
28,2015-03-20 13:00:00+01:00,1,361,25958,20978,184.62107,181.65674
29,2015-03-20 14:00:00+01:00,NaN,0,0,0,0.00000,0.00000
30,2015-03-20 15:00:00+01:00,NaN,0,0,0,0.00000,0.00000
31,2015-03-20 16:00:00+01:00,NaN,0,0,0,0.00000,0.00000
32,2015-03-20 17:00:00+01:00,NaN,0,0,0,0.00000,0.00000
33,2015-03-20 18:00:00+01:00,1,18758,1418997,1134649,9413.17666,9382.42579
34,2015-03-20 19:00:00+01:00,NaN,0,0,0,0.00000,0.00000

In [18]:
table = pd.tools.pivot.pivot_table(df,
        values=['nbcalls', 'duration', 'billsec', 'buy_cost', 'sell_cost'],
        index=['dateday'],
        columns=['switch_id'],
        fill_value=0)
table

                          nbcalls      duration         billsec         \
switch_id                       1    2        1      2        1      2
dateday
2015-03-19 23:00:00+01:00     452  433    35386  33008    28445  25842
2015-03-20 00:00:00+01:00     435  407    31353  31177    25677  24849
2015-03-20 01:00:00+01:00     446  427    33125  33266    29582  26218
2015-03-20 02:00:00+01:00     436  384    32703  28522    25802  23526
2015-03-20 03:00:00+01:00     417  479    30739  37139    26024  27674
2015-03-20 04:00:00+01:00     421  419    30737  31404    25564  25329
2015-03-20 05:00:00+01:00     473  389    35908  30503    29243  22894
2015-03-20 06:00:00+01:00     469  431    34833  31374    28658  25795
2015-03-20 07:00:00+01:00     456  430    35228  31650    28458  26423
2015-03-20 08:00:00+01:00     424  449    31219  34239    24721  27372
2015-03-20 09:00:00+01:00     423  456    31532  34250    24858  27984
2015-03-20 10:00:00+01:00     424  435    32859  33255    25420  26607
2015-03-20 11:00:00+01:00     425  410    30719  31588    26775  24212
2015-03-20 12:00:00+01:00     435  454    32610  34524    26473  25833
2015-03-20 13:00:00+01:00     361  387    25958  29205    20978  23341
2015-03-20 18:00:00+01:00   18758    0  1418997      0  1134649      0

                             buy_cost              sell_cost
switch_id                           1          2           1          2
dateday
2015-03-19 23:00:00+01:00   228.52399  229.22764   225.29628  213.90530
2015-03-20 00:00:00+01:00   214.41776  196.57151   225.08726  198.07861
2015-03-20 01:00:00+01:00   229.00651  217.72912   222.74768  212.55049
2015-03-20 02:00:00+01:00   212.16197  188.95195   214.33608  201.38374
2015-03-20 03:00:00+01:00   215.39431  242.08165   211.51521  242.97785
2015-03-20 04:00:00+01:00   211.70976  214.60660   213.72790  203.01498
2015-03-20 05:00:00+01:00   227.14990  183.21675   238.11215  211.84865
2015-03-20 06:00:00+01:00   239.52816  217.82267   238.84173  224.30048
2015-03-20 07:00:00+01:00   238.97832  212.37082   233.82632  218.03478
2015-03-20 08:00:00+01:00   216.25996  224.11738   205.39587  231.53835
2015-03-20 09:00:00+01:00   209.81060  228.14923   208.58009  222.74083
2015-03-20 10:00:00+01:00   214.15187  214.97518   206.85611  210.14606
2015-03-20 11:00:00+01:00   193.57930  199.28288   207.29097  206.50986
2015-03-20 12:00:00+01:00   225.45656  221.86527   224.20190  240.34223
2015-03-20 13:00:00+01:00   184.62107  190.27605   181.65674  197.96472
2015-03-20 18:00:00+01:00  9413.17666    0.00000  9382.42579    0.00000

In [15]:
table.dtypes

           switch_id
nbcalls    1              int64
           2              int64
duration   1              int64
           2              int64
billsec    1              int64
           2              int64
buy_cost   1            float64
           2            float64
sell_cost  1            float64
           2            float64
dtype: object

In [16]:
table.nbcalls

switch_id                      1    2
dateday
2015-03-19 23:00:00+01:00    452  433
2015-03-20 00:00:00+01:00    435  407
2015-03-20 01:00:00+01:00    446  427
2015-03-20 02:00:00+01:00    436  384
2015-03-20 03:00:00+01:00    417  479
2015-03-20 04:00:00+01:00    421  419
2015-03-20 05:00:00+01:00    473  389
2015-03-20 06:00:00+01:00    469  431
2015-03-20 07:00:00+01:00    456  430
2015-03-20 08:00:00+01:00    424  449
2015-03-20 09:00:00+01:00    423  456
2015-03-20 10:00:00+01:00    424  435
2015-03-20 11:00:00+01:00    425  410
2015-03-20 12:00:00+01:00    435  454
2015-03-20 13:00:00+01:00    361  387
2015-03-20 18:00:00+01:00  18758    0

In [17]:
table.nbcalls.describe()

                  1           2
count     16.000000   16.000000
mean    1578.437500  399.375000
std     4581.288566  109.741439
min      361.000000    0.000000
25%      423.750000  402.500000
50%      435.000000  428.500000
75%      453.000000  438.500000
max    18758.000000  479.000000

In [142]:
table

                          nbcalls duration  billsec buy_cost   sell_cost
switch_id                       1        1        1        1           1
dateday
2015-03-21 18:00:00+01:00   18691  1411681  1129709     9299  9256.68949

In [143]:
table.describe()

      nbcalls duration  billsec buy_cost   sell_cost
            1        1        1        1           1
count       1        1        1        1     1.00000
mean    18691  1411681  1129709     9299  9256.68949
std       NaN      NaN      NaN      NaN         NaN
min     18691  1411681  1129709     9299  9256.68949
25%     18691  1411681  1129709     9299  9256.68949
50%     18691  1411681  1129709     9299  9256.68949
75%     18691  1411681  1129709     9299  9256.68949
max     18691  1411681  1129709     9299  9256.68949

Transpose

In [13]:
table.nbcalls.unstack(0)

switch_id  dateday
1          2015-03-19 13:00:00+01:00      163
           2015-03-19 14:00:00+01:00      549
           2015-03-19 15:00:00+01:00      558
           2015-03-19 16:00:00+01:00      450
           2015-03-19 17:00:00+01:00      407
           2015-03-19 18:00:00+01:00    19110
           2015-03-19 19:00:00+01:00      461
           2015-03-19 20:00:00+01:00      452
2          2015-03-19 13:00:00+01:00       66
           2015-03-19 14:00:00+01:00      431
           2015-03-19 15:00:00+01:00      423
           2015-03-19 16:00:00+01:00      464
           2015-03-19 17:00:00+01:00      454
           2015-03-19 18:00:00+01:00      432
           2015-03-19 19:00:00+01:00      418
           2015-03-19 20:00:00+01:00      469
dtype: int64

In [40]:
ntable = table.nbcalls.T
ntable

dateday,2015-03-19 22:00:00+01:00,2015-03-19 23:00:00+01:00,2015-03-20 00:00:00+01:00,2015-03-20 01:00:00+01:00,2015-03-20 02:00:00+01:00,2015-03-20 03:00:00+01:00,2015-03-20 04:00:00+01:00,2015-03-20 05:00:00+01:00,2015-03-20 06:00:00+01:00,2015-03-20 07:00:00+01:00,2015-03-20 08:00:00+01:00,2015-03-20 09:00:00+01:00,2015-03-20 10:00:00+01:00,2015-03-20 11:00:00+01:00,2015-03-20 12:00:00+01:00,2015-03-20 17:00:00+01:00
switch_id,,,,,,,,,,,,,,,,
1,452,435,446,436,417,421,473,469,456,424,423,424,425,435,361,18758
2,433,407,427,384,479,419,389,431,430,449,456,435,410,454,387,0

In [44]:
ntable.columns

<class 'pandas.tseries.index.DatetimeIndex'>
[2015-03-19 23:00:00+01:00, ..., 2015-03-20 18:00:00+01:00]
Length: 16, Freq: None, Timezone: psycopg2.tz.FixedOffsetTimezone(offset=60, name=None)

In [69]:
table['nbcalls'].T

dateday,2015-03-19 12:00:00+01:00,2015-03-19 13:00:00+01:00,2015-03-19 14:00:00+01:00,2015-03-19 15:00:00+01:00,2015-03-19 16:00:00+01:00,2015-03-19 17:00:00+01:00,2015-03-19 18:00:00+01:00,2015-03-19 19:00:00+01:00
switch_id,,,,,,,,
1,163,712,1270,1720,2127,21237,21698,22150
2,66,497,920,1384,1838,2270,2688,3157

In [83]:
first_column = table.nbcalls.columns.tolist()[0]
second_column = table.nbcalls.columns.tolist()[1]
num_switch = len(table.nbcalls.columns.tolist())
(first_column, second_column, num_switch, table.nbcalls.columns.tolist())

(1.0, 2.0, 2, [1.0, 2.0])

In [87]:
ntable.loc[1.0], ntable.loc[2.0]

(dateday
 2015-03-19 13:00:00+01:00      163
 2015-03-19 14:00:00+01:00      712
 2015-03-19 15:00:00+01:00     1270
 2015-03-19 16:00:00+01:00     1720
 2015-03-19 17:00:00+01:00     2127
 2015-03-19 18:00:00+01:00    21237
 2015-03-19 19:00:00+01:00    21698
 2015-03-19 20:00:00+01:00    22150
 Name: 1.0, dtype: float64, dateday
 2015-03-19 13:00:00+01:00      66
 2015-03-19 14:00:00+01:00     497
 2015-03-19 15:00:00+01:00     920
 2015-03-19 16:00:00+01:00    1384
 2015-03-19 17:00:00+01:00    1838
 2015-03-19 18:00:00+01:00    2270
 2015-03-19 19:00:00+01:00    2688
 2015-03-19 20:00:00+01:00    3157
 Name: 2.0, dtype: float64)

In [91]:
for i in ntable.loc[second_column]: print i

66.0
497.0
920.0
1384.0
1838.0
2270.0
2688.0
3157.0

In [90]:
list(ntable.loc[second_column])

[66.0, 497.0, 920.0, 1384.0, 1838.0, 2270.0, 2688.0, 3157.0]

In [93]:
for i in table.index: print i

2015-03-19 17:00:00+01:00
2015-03-19 18:00:00+01:00
2015-03-19 19:00:00+01:00
2015-03-19 20:00:00+01:00
2015-03-19 21:00:00+01:00
2015-03-19 22:00:00+01:00
2015-03-19 23:00:00+01:00
2015-03-20 00:00:00+01:00

In [92]:
table.nbcalls.values

array([[19110,   432],
       [  461,   418],
       [  452,   469],
       [  437,   402],
       [  442,   446],
       [  452,   433],
       [  435,   407],
       [  446,   427]])

In [17]:
table = table.cumsum()

In [18]:
import matplotlib.pyplot as plt

In [19]:
plt.figure(); table.plot(); plt.legend(loc='best')

In [37]:
table.nbcalls.columns.tolist()

2.0